#!/usr/bin/env bash

CIRCLE_URL="https://circleci.com/gh"
GITHUB_URL='https://github.com'

# Aliases Helpers
alias sp='source $HOME/.base'
alias alia='ec $HOME/.aliases && sp'
alias aliap='ec $HOME/.private/profile && sp'
ali() {
  sp
  ( alias
    typeset -f | grep '^\w.*() {' | sed 's/ () {//' \
 ) | grep "$@" | sort
}

# Editor
alias vi='nvim'
alias v='nvim'
alias nv='nvim'
alias vf='_with_fzf nvim'
alias sf='_with_fzf subl'
alias et='emacsclient --tty'
alias e='_with_fzf "ec"'
alias etf='_with_fzf "emacsclient --tty"'

ett() {
  local file="$1"
  touch "${file}"
  ec "${file}"
}

ea() {
  ec $(ag "$@" | fzf -0 -1 |  awk -F: '{print "+" $2 " " $1}')
}

# ZSH Specific
if [ -n "$ZSH_VERSION" ]; then
  alias -g F='"$(fzf)"'
  alias -g L='| less -SRi'
  alias -g LL='2>&1 | less -SRi'
  alias -g JI='$(_jira_current_issue_key_or_assigned)'
fi

# Quick edit
alias eco='_with_fzf "ec" ".conf$" '
alias esc='_with_fzf "ec" ".scala$" '
alias ej='_with_fzf "ec" ".java$" '
alias esb='_with_fzf "ec" ".sbt$" '
alias epy='_with_fzf "ec" ".py$" '
alias esh='_with_fzf "ec" ".sh$" '
alias ejs='_with_fzf "ec" ".js$" '
alias ejo='_with_fzf "ec" ".json$" '
alias exm='_with_fzf "ec" ".xml$" '
alias eo='ee "(jm/helm-org-dir)"'

# Navigation
alias cw='cd $WORK'
alias cj='$HOME/code/j-martin'
alias co='$HOME/code/others'

# Sublime
alias st='subl'
alias stt='subl ./' # Depends on the 'st' command in the ~/.bin dir.

# Convenience
agl() { ag --color --after=4 --path-to-ignore ~/.agignore "$@" | less -SRi; }
ags() { ag --color --after=4 --smart-case --path-to-ignore ~/.agignore "$@" | less -SRi; }
uu() { rg --color=always --line-number --after-context=4 --before-context=2 --smart-case "$@" | less -SRi; }
agm() { ag --color --after=20 --literal "<<<<<<<" | less -SRi; } #Forgotten merge conflicts
alias cay='cal -y'
alias clf='clf -c'
alias ca='_with_fzf "cat"'
alias cdp='cd "$(dirname "$(pbpaste)")"'
alias cf='cd "$(dirname "$(fzf)")"'
alias comp='_notify "Done!"'
alias dk='docker'
alias dkp='docker ps'
dki() { docker images | awk '{print $1 ":" $2}' | sort -u ;}
alias dc='docker-compose'
alias dm='docker-machine'
dbuild() {
    local name="$(basename "$(pwd)")"
    local image="$(_docker_pick_images ${name:0:5} || _docker_pick_images)"
    docker build -t "$image" . && docker run -it "$image"
}
dlog() { docker logs -f "$(_docker_pick_container $1)" ;}
drun() { docker run -it "$(_docker_pick_images $1)" bash ;}
drunb() { docker run --entrypoint='/bin/bash' -it "$(_docker_pick_images $1)" ;}
dbash() { docker exec -it "$(_docker_pick_container $1)" bash ;}
dsh() { docker exec -it "$(_docker_pick_container $1)" sh ;}
dkill() { docker kill "$(_docker_pick_container $1)" ;}
alias dkillall='docker ps -q | xargs -r docker kill'
alias drmiall='docker images -q | xargs -r docker rmi -f'
alias dtest='docker build -t $(basename $(pwd)) . && docker run -it $(basename $(pwd))'
alias epoch='date +%s000'
alias ep='pbpaste | $HOME/.bin/ep.py'
alias flushdns='sudo killall -HUP mDNSResponder'
alias gist='gist -p'
alias goo='google ' # Depends on ZSH google plugin.
alias hey="growlnotify 'Command Done!' -m 'Yes!'"
alias hi='history | grep '
alias hosts='sudo vi /etc/hosts'
alias hsl='grep key "$HOME/.hammerspoon/bindings.lua"'
alias jql='jq -C . | less -SRi'
jqx() { jq . -C "$@" | less -SRi; }
alias jqc='pbpaste | jq .'
alias jqcl='pbpaste | jq -C . | less -SRi'
alias ip='ifconfig | grep "inet 1"'
idiff() { icdiff "$1" "$2" | less -SRi ; }
idif() { icdiff "$(fzf -q $1)" "$(fzf -q $2)" | less -SRi ; }
lc() { pygmentize $@ | less -SRi; }
alias lcf='_with_fzf "lc"'
alias le='less -SRi'
alias lf='_with_fzf cat | less -SRi'
alias ler='less README.md'
alias vir="$EDITOR README.md"
vme() { $EDITOR "$1" & vmd "$1"; }
alias vms='EDITOR=subl vme'
alias vmr='EDITOR=subl vme README.md'
alias yml2json="python3 -c 'import sys, yaml, json; json.dump(yaml.load(sys.stdin), sys.stdout, indent=4)' <"
alias emr='EDITOR=ec vme README.md'
alias lo='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'
alias no='e ~/.org/MAIN.org'
alias noisy='pkill -f Noisy && open -a /Applications/NoisyTyper.app'
alias m='make'
alias ml='make -f Makefile.docker'
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
alias op='open "$(pbpaste)"'
alias opd='open "$(basename "$(pbpaste)")"'
alias pwdc='pwd | tr -d "\n" | pbcopy'
alias pbclean='echo | pbcopy'
alias rand='openssl rand -base64 128 | tr -d "\n/+="'
alias redis="(mkdir -p /tmp/redis && cd /tmp/redis && redis-server &)"
alias redis-flush='redis-cli flushall'
ssh() { _production && /usr/local/bin/ssh "$@"; _safe ;}
s() { ssh "$@" -t 'command; tmux -u -CC attach -t jm || tmux -u -CC new -s jm' ;}
ss() { ssh "$@" -t 'command; tmux -S /tmp/shared attach -t shared || tmux -S /tmp/shared new -s shared' ;}
alias mtmp='cd "$(mktemp -d -t 3)"'
alias tailf='tail -F'
alias tf='terraform'
alias tff='tree -afC -I "\.git|.idea|venv|vendor|pkg|target|targets|node_modules"'
alias tfl='tree -afC -I "\.git|.idea|venv|vendor|pkg|target|targets|node_modules" | less -SRI'
alias tfs='tree -afC -I "\.git|.idea|venv|vendor|pkg|target|targets|node_modules" "src"'
alias treef='tree -fa | grep -i'
alias touch='_touch'
alias updatedb='sudo /usr/libexec/locate.updatedb'

alias vimrc='vi $HOME/.vimrc'
alias zshrc='vi $HOME/.zshrc'
alias xargsn='perl -p -e "s/\n/\0/;" | xargs -0'
cb() { open "$(_chrome_parse_bookmarks | _fzf \"$1\" | cut -d '|' -f1)"; }

# GCP
unalias gcp
alias gcp='gcloud'
alias s3='gsutil'

# K8s
alias kc=kubectl
alias mk=minikube

# Clubhouse
alias c=club

## Git
alias gl='git pull --tags'
# TODO: Use git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
alias gbclean='git fetch --all --prune && git branch | grep -v "^*" | grep -v "^master$" | fzf -m | xargs git branch -D'
alias gbcleanall='git fetch --all --prune && git branch | grep -v "^*" | grep -v "^master$" | xargs git branch -D'
alias gbp='_git_pick_any_branches | _copy'
alias gcml='git checkout master && git pull'
alias gca='git commit --amend'
alias gcaa='git commit . --amend'
git-reflog-grep() {
  git reflog | awk '{print $1}' | while read in; do echo "$in"; git show "$in" | grep "$@" ; done
}
alias gclon='git clone "$(_github_pick_repo)"'
alias gcane='git commit --amend --no-edit -n'
alias gfo='git fetch origin && git fetch origin --tags'
alias gdff='git icdiff | less -SRi'
alias gdfff='git diff --color | diff-so-fancy | less -SRi'
alias gdf='git diff -- "$(fzf)"'
alias gpom='git pull --rebase origin master'
alias gw='_git_switch_worktree'
alias gwf='$(git worktree list | fzf | _pick_first_col)'
gcof() { git checkout "$(_git_pick_branch_no_origin "'$1")"; }
alias gocf=gcof
alias gsp='git show "$(_git_pick_branch):$(fzf)"'
alias gdp='git diff "$(_git_pick_branch)" -- "$(fzf)"'
alias gdcf='git diff "$(_git_pick_commit)" -- "$(fzf)"'
alias gci='_github_create_issue'
alias gshowf='git show "$(_git_pick_commit):$(fzf)" | pygmentize | less -SRi'
gshow() { git show "$1:$2" | vi - ;}
gshowm() { git show "origin/master:$1" | vi - ;}
alias gwip='(git log --oneline master..HEAD | grep -ei wip) || echo "ok"'
alias groot='cd "$(git rev-parse --show-toplevel)"'
alias gcp='git add -p && git commit' # Commiting part of a file.
alias gpp='git push --no-verify --set-upstream origin $(git symbolic-ref --short -q HEAD)'
alias ghbp='gpp && hbp'
alias ghpr='gpp && hpr'
alias ghw='watch -n10 github-events'
alias gpick='git cherry-pick'
alias gcv='git commit -v' # Commit all with a Diff view.
alias gds='git diff --stat'
alias gdo='git diff origin/master'
alias gdc='git diff --cached'
alias gdos='git diff origin/master --stat'
alias gkap='gitk --all --date-order $(git log -g --pretty=%H)'
alias gll='git log -p'
alias glf='git log -p -- "$(_fzf)"'
alias glgg='git log --graph --decorate'
alias gllg="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gplush='git pull && git push'
alias gmc='git commit -vnm'
# alias gms='bub workflow commit'
gms() { git commit -n -m "$(_case_sentence "$1")" "${@:2}" ;}
gmss() { git commit -n -m "SQUISHME $(_case_sentence "$1")" "${@:2}" ;}
alias gma='git merge --abort'
alias gmom='git fetch origin && git merge origin/master'
alias gmt='git read-tree -u -m' # merge/squash changes without a commit
alias gnew='_git_new_branch'
gnewc() { _git_new_branch "$(head -n1 <<< "$1")" && git commit -n -m "$@" ;}
alias gnewj='_git_new_branch_from_new_issue'
alias gnewp='_git_new_branch "$(pbpaste)"'
alias mg='mass git'
alias gnewic='_git_new_branch_and_commit_from_new_issue'
alias gnewa='_git_new_branch "$(_jira_assigned_issues | fzf)"'
gnews() { _git_new_branch "$(_jira_search_text "$1")" ;}
alias gnewh='_github_new_branch'
alias gnewm='git checkout master && git pull && gnew'
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias greset='git fetch origin && git reset --hard origin/master'
alias gri='git rebase -i'
alias gro='git rebase -i master'
alias grom='git rebase -i origin/master'
alias gs='git status'
alias gsa='git stash apply'
alias gsl='git stash list'
alias gss='git stash save'
alias gu='_github_open_url'
alias gupd='git stash && git pull --rebase origin master && git stash apply && git stash drop'
gvbump() { git commit -m "bump to version $(awk '{print $3}' version.sbt)" version.sbt ; }
alias ge="emacsclient --no-wait --eval '(magit-status)'"

# Github
alias ha='open "$GITHUB_URL"'
alias hp='open "$GITHUB_URL/$(_git_repo)/pulls"'
alias hc='open "$GITHUB_URL/$(_git_repo)/tree/$(_git_current_branch_url)"'
alias ht='open "$GITHUB_URL/$(_git_repo)/tree/$(_git_current_branch_url)"'
alias hbp='open "$GITHUB_URL/$(_git_repo)/compare/master...$(_git_current_branch_url)"'
alias hpr='_github_pr'
alias hb='open "$GITHUB_URL/$(_git_repo)/branches"'
alias his='open "$GITHUB_URL/$(_git_repo)/issues"'
alias hw='open "$GITHUB_URL/$(_git_repo)/wiki"'
alias hr='open "$GITHUB_URL/$(_git_repo)"'

# General
alias ic=imgcat
fn() { find . -iname "*$@*" ;}
fne() { find . -iname "*.$@" ;}
alias cpb='cd $(dirname "$(pbpaste)")'
alias kb='keybase'
alias psa='ps aux | grep -i'
whichl() { ls -lha "$(where $1)" ;}
alias listen='osqueryi "select l.address, l.port, p.pid, p.path from listening_ports l, processes p where l.pid = p.pid order by p.name"'
alias ports='lsof -nP +c 15 | grep LISTEN'

# Emacs
alias emacs-clean="find ~/.emacs.d -name '*.elc' -delete"
alias emacs-stop='kill -USR1 $(pgrep Emacs)'
emacs-rebuild-eshell-alias() {
  alias | sed "s/='/ /; s/'$//; s/^/alias /" > ~/.emacs.d/.cache/eshell/alias
}

# Mac Specific
if [[ "$(uname)" == 'Darwin' ]]; then
  alias which='where'
  # Fixes keyring access to the keychain.
  alias sign-venv='codesign -f -s - "$(pipenv --venv)/bin/python"'
fi

alias da='date && date -u'
alias qrc='pbpaste | qr'
alias pgcli='echo $PGHOST && pgcli'

# Home/.files
alias home='git --work-tree=$HOME --git-dir=$HOME/.files.git'
alias hd='home diff'
alias hdf='home icdiff'
hadd() {
  echo "$*" | grep -vi '.org\|.config\|.private\|work\|Dropbox' && home add -f "$@"
}
alias hcommit='home commit -m'
alias hlog='home log -p'
alias hdot='open https://github.com/j-martin/dotfiles'
alias hs='home status'
he() {
  (cd "$HOME" && home ls-files | e "$@")
}
# Languages
alias scal='scala -Dscala.color'
agsbt() { agq "$@" -a --depth 2 ./*.{sbt,scala} ;}
alias groov="groovyConsole > /dev/null &"
alias yar='nvm install && yarn'

alias gr='./gradlew'

# AWS
alias ec2d='aws ec2 describe-instances | jq -C . | less -SRi'
ec2ip() { jq ".Reservations[].Instances[] | select((.PrivateIpAddress == \"$1\" or .PublicIpAddress == \"$1\"))" ;}
alias r53="aws route53 list-hosted-zones | jq '.HostedZones[].Id' | xargs -n1 -P0 aws route53 list-resource-record-sets --hosted-zone-id --output text | grep"

# Python Aliases
alias ipy='ipython3'
alias ipyn='ipython3 notebook'
alias py='python3'
alias pr='pipenv run'

# Website
alias oo='open $(pbpaste)'
alias c2='open "https://console.aws.amazon.com/ec2/"'

# Brew
alias bdump='brew bundle --global dump --force && sed -i "s/, link: false//"  ~/.Brewfile'
alias bcleanup='brew bundle --global cleanup' # --force

# Bub
alias b='bub'
# alias w='bub workflow'

# Ore
alias w='o clubhouse'
