[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".oh-my-zsh-custom/plugins/auto-fu.zsh"]
	path = .oh-my-zsh-custom/plugins/auto-fu.zsh
	url = git@github.com:hchbaw/auto-fu.zsh.git
[submodule ".vendor/org-protocol-handler"]
	path = .vendor/org-protocol-handler
	url = https://github.com/aaronbieber/org-protocol-handler.git
[submodule ".emacs.dev"]
	path = .emacs.dev
	url = https://github.com/syl20bnr/spacemacs
[submodule ".vendor/alfred-jira"]
	path = .vendor/alfred-jira
	url = git@github.com:steyep/alfred-jira.git
[submodule ".oh-my-zsh-custom/plugins/pure"]
	path = .oh-my-zsh-custom/plugins/pure
	url = https://github.com/sindresorhus/pure
