[project]
	description = Config to be shared across a bunch of computers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jean-Martin Archer (j-martin)
[access "refs/for/refs/*"]
	read = group user/Jean-Martin Archer (j-martin)
	push = group user/Jean-Martin Archer (j-martin)
	label-Code-Review = -2..+2 group user/Jean-Martin Archer (j-martin)
	label-Verified = -1..+1 group user/Jean-Martin Archer (j-martin)
	rebase = group user/Jean-Martin Archer (j-martin)
	removeReviewer = group user/Jean-Martin Archer (j-martin)
	submit = group user/Jean-Martin Archer (j-martin)
[access "refs/heads/*"]
	read = group user/Jean-Martin Archer (j-martin)
	create = group user/Jean-Martin Archer (j-martin)
	push = +force group user/Jean-Martin Archer (j-martin)
	pushMerge = group user/Jean-Martin Archer (j-martin)
[access "refs/tags/*"]
	push = group user/Jean-Martin Archer (j-martin)
	push = +force group user/Jean-Martin Archer (j-martin)
