[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
clubhouse = "==0.2.1"
readability-lxml = "*"
todoist-python = "*"
keyring = "*"
click = "*"
cryptography = "*"
"pushbullet.py" = "*"
orgparse = "*"
pypandoc = "*"
python-slugify = "*"

[dev-packages]
bpython = "*"
black = "==19.3b0"

[scripts]
fmt = "bash -c \"grep  -Flr '#!/usr/bin/env python3' -r . | xargs black\""
