[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
clubhouse = "==0.2.1"
readability-lxml = "*"
breadability = "*"
todoist-python = "*"
keyring = "*"
click = "*"

[dev-packages]
bpython = "*"

[scripts]
